* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    caret-color: transparent;
    color: var(--font-color);
}

html::-webkit-scrollbar{
    height: 15px;
    width: 8px;
    border-radius: 50px;
}

html::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background: var(--secundary-color);
}

html::-webkit-scrollbar-track {
    border-radius: 50px;
    background: var(--primary-color);
}

body{
    font-family: var(--font-main);
}

h1, h2, h3{
    color: var(--secundary-color);
}

header {
    display: flex;
    position: relative;
}
/* BACKGROUND */
.page-background {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -100;
    overflow: hidden;
}

.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.page-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle at center,
        rgba(30, 30, 30, 0.85) 30%,
        rgba(0, 0, 0, 1) 90%
    );
    z-index: -1;
}

/* MAIN */
.main-container{
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: var(--spacing-section);
    justify-content: center;
    position: relative;
    overflow: hidden;
}


.arrow-project{
    background-color: transparent;
    position: fixed;
    border: 0px;
    padding: 20px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}

.arrow-project svg polyline{
    stroke-width: 3;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: all 250ms ease-in-out;
    stroke: var(--secundary-color);
 }

.arrow-project:hover svg polyline{
   stroke-width: 5; 
}

.arrow-project.left{
    left: 0;
}
.arrow-project.right{
    right: 0;
}

/* GALLERY AND DESCRIPTION*/
.container{
    width: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teste{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: var(--section-padding);
    border-radius: 5px;
    margin-bottom: var(--spacing-section);
    
    border: 2px solid var(--secundary-color);
}

/* GALLERY */
.game-gallery{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.main-gallery{
    display: flex;
    width: 100%;
    min-height: 337px;
    justify-content: center;

    margin-bottom: 5px;

    border: 3px solid var(--secundary-color)
}
.modal{
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.9);
   
}

.modal-content{
    display: flex;
    height: 60%;
    aspect-ratio: 1.733333;
    margin: 7% auto; 
    border: 2px solid var(--secundary-color);
}

.close{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute; 
    top: 20px; 
    right: 35px;
    width: 64px;
    height: 64px;
    font-size: 64px; 

    color: var(--secundary-color); 
    cursor: pointer;
    border: 3px solid white;
  }

.gallery-images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-radius: 5px;
    overflow-x: scroll;
    border: 2px solid var(--secundary-color)
}

.gallery-images::-webkit-scrollbar{
    height: 8px;
    border-radius: 50px;
    margin-top: 5px;
}

.gallery-images::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background: var(--secundary-color);
}

.gallery-images::-webkit-scrollbar-track {
    border-radius: 50px;
    background: var(--primary-color);
}

.gallery-image{
    width: 118px;
    aspect-ratio: 1.733333;
    cursor: pointer;
}

.gallery-image:not(:last-child){
    margin-right: 5px;
}
.gallery-image:hover{
    border: 2px solid var(--secundary-color);
}



/* DESCRIPTION */
.game-description{
    display: flex;
    flex-direction: column;
   
    margin-left: var(--spacing-unit);
    
}

.game-title{
    font-size: 32px;
    font-style: italic;
    padding: var(--spacing-unit);
    
}

.tags{
    display: flex;
    margin-bottom: var(--spacing-unit);
    padding-top: var(--spacing-unit);
    padding-bottom: var(--spacing-unit);
}

.tag{
    border-radius: 5px;
    font-size: smaller;
    color: white;
    margin: 2px;
    padding: 2px 7px 2px 7px;
    background-color: rgb(45, 45, 45);
}

.stores{
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-unit);
    
}

.store-link{
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 2px;
    margin-bottom: 5px;
}

.store-link:hover{
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color:var(--secundary-color);
    margin-bottom: 5px;
}

.store-icon{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

/* TECHNOLOGIES */

.game-technologies{
    width: 100%;    
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: var(--section-padding);
    margin-bottom: var(--spacing-section);

    border: 2px solid var(--secundary-color);
}

.techs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.tech:not(:first-child){
    margin-left: 10px;
}

.tech{
    width: 100px;
    height: 100px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: bottom;
    align-items: center;
}

.tech-icon{
    width: 58px;
    height: 58px;

}

.tech-name{
    display: flex;
    text-align: center;
    padding-top: 10px;

}

/* GAME DEVELOPMENT */
.game-development{
    width: 100%;
    margin-bottom: var(--spacing-section);
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: var(--section-padding);
    border: 2px solid var(--secundary-color);
}

.development-text{
    padding: var(--spacing-unit);
}

.highlight{
    color: var(--secundary-color);
    font-weight: bold;
}

li{
    margin-top: 10px;
    margin-left: 10px;
}

ul{
    margin-left: 20px;
}

footer{
    background-color: var(--primary-color);
    width: 100%;
    height: 50px;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    border: 2px solid var(--secundary-color);
}
